<?xml version="1.0"?>

<model>
  <name>sikorsky-X2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

<author>
  <name>Seunghwan Jo</name>
	<email>snipertype@hotmail.com</email>
  <name>Hoi Jo Jeaong</name>
  <email>ghlwh119@naver.com</email>
</author>


  <description>
  Compound Coaxial Helicopter Sikorsky-X2's RC model with 2D-swashplate
  </description>
</model>
