<?xml version="1.0"?>

<model>
  <name>Sikorsky X2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fadri Furrer</name>
    <email>fadri.furrer@mavt.ethz.ch</email>
  </author>
  <author>
    <name>Michael Burri</name>
  </author>
  <author>
    <name>Mina Kamel</name>
  </author>
  <author>
    <name>Janosch Nikolic</name>
  </author>
  <author>
    <name>Markus Achtelik</name>
  </author>
  <author>
	<name>Seunghwan Jo</name>
	<email>snipertype@cnu.ac.kr</email>
</author>	


  <description>
Compound Coaxial Helicopter Sikorsky X2's RC model based on Iris_standoff Model with ArduPilot(real model solds here http://wwww.skyrush.eu)
  </description>
</model>
