<?xml version="1.0"?>

<model>
  <name>Sikorsky-X2_with_ArduPilot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

<author>
  <name>Seunghwan Jo</name>
	<email>snipertype@hotmail.com</email>
</author>


  <description>
  Compound Coaxial Helicopter Sikorsky X2's RC model with ArduPilot
  </description>
</model>
