<?xml version="1.0" ?>
<model>
    <name>Gimbal Small 3D</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Hugo Trippaers</name>
        <email></email>
    </author>
    <description>3D gimbal for small camera (go pro size) on drone.
      Based on the gimbal_small_2d model
      Which is based on:
      3D mesh: http://www.thingiverse.com/thing:397579
      by: http://www.thingiverse.com/Motorpixiegimbals/about
    </description>
</model>
